#two div {
    padding-top: 0 !important;
}

.member-name {
    border-bottom: 1px solid white;
    margin-bottom: 0;
}

.name-row {
    padding-bottom: 0 !important;
}

.titles-row {
    padding-bottom: 0 !important;
}

.position {
    font-weight: bold;
}

.grad-date {
    font-style: italic;
}