div.archive-img {
	margin: 10px 10px 10px;
	background-color: #242943;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 8px;
	width: 150%;
	max-width: 475px;
	height: 100%;
  padding-right: 10px;
}
.event-description {
  margin: 5px 5px 5px;
  padding: 5px;
}

.event-box{
  margin: 15px 0px 15px 0px;
	align-items: center;
}
