.profile-header {
	height: 150px;
}

.profiles {
	padding-left: 10%;
	padding-right: 10%;
	margin: 15px 0px 15px 0px;
}

.profile-box {
	margin: 15px 0px 15px 0px;
	align-items: center;
}

div.profile-img {
	margin: 10px 10px 10px;
	background-color: #242943;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 8px;
	width: 150%;
	max-width: 275px;
	height: 100%;
}

@keyframes dropShadow {
	0% { 
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	100% {
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
	}
}

div.profile-img:hover {
	animation-name: dropShadow;
	animation-duration: 700ms;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

div img {
	width: 100%;
	border-radius: 4px;
}

div.profile-img-container {
	text-align: center;
	padding: 10px 20px;
}

div.profile-description {
	padding: 15px 15px 15px 15px;
}

div.profile-description h1 {
	margin: 0 0 0 0;
}